@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: #f00;
    --input: #f00;

    --primary: blue;
    --primary-foreground: 0 0% 98%;

    --danger: 0 84.2% 60.2%;
    --danger-foreground: #0 84.2% 60.2%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }
}
/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */
@layer base {
  body {
    font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
    color: black;
  }
}
.transition-ok {
  transition: all 0.2s linear;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}
